.success {
  color: rgb(26, 14, 24);
  background: rgb(62, 197, 58);
  font-size: 20px;
  border-style: dotted;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(26, 14, 24);
  background: rgb(167, 102, 102);
  font-size: 20px;
  border-style: dotted;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}